{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb-typescript", "react-app", "react-app/jest", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "@typescript-eslint", "prettier", "react-hooks"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": ["function-declaration", "function-expression", "arrow-function"]
      }
    ],
    "react/prop-types": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "quotes": ["error", "double"],
    "react-hooks/exhaustive-deps": "warn",
    "semi": ["error", "always"],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "format": ["camelCase", "strictCamelCase", "PascalCase", "StrictPascalCase", "snake_case", "UPPER_CASE"],
        "selector": "variable",
        "leadingUnderscore": "allow"
      }
    ],
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-loop-func": "off",
    "@typescript-eslint/no-implied-eval": "off",
    "no-loop-func": "off",
    "no-console": ["error", { "allow": ["warn", "error", "info"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["./src"]
      }
    }
  }
}
